<span>
  {{#spanContent}}
    {{spanContent}}
  {{/spanContent}}
  {{^spanContent}}
    A simple text with a &#60;span&#62;-tag. "Helvetica Neue", Helvetica, Arial, sans-serif;
  {{/spanContent}}
</span>
