{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">

  {{> organisms-text-image-indent-left }}
  {{> organisms-text-image-indent-right }}
  {{> organisms-text-image-indent-left }}
  {{> organisms-text-image-indent-right }}

</main>
{{> organisms-footer }}

