{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">

  <p>We are slowly building multioffer teasers here.</p>
  <p>Each set of offers in a multi teaser has the same set of content:
    For example Title, region, hotel name with hotel rating, info and price button.
    Another multi teaser could have only a title, hotel rating, info and price button.</p>

  <h4>Multi Teaser with 50% width</h4>

  <div class="multi-teaser-list">
    {{# multiOfferTeaserList }}
      {{> organisms-multioffer-teaser-50 }}
    {{/ multiOfferTeaserList }}

    {{^ multiOfferTeaserList }}
      <p>... No multi teaser found ...</p>
    {{/ multiOfferTeaserList }}
  </div>

  {{> atoms-divider }}

  <h4>Multi Teaser with 100% width</h4>

  <div class="multi-teaser-list">
    {{# multiOfferTeaserList }}
      {{> organisms-multioffer-teaser-100 }}
    {{/ multiOfferTeaserList }}

    {{^ multiOfferTeaserList }}
      <p>... No multi teaser found ...</p>
    {{/ multiOfferTeaserList }}
  </div>

</main>
{{> organisms-footer }}

