{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">

  <p>On this page you will see different versions of teasers ... </p>

  <h2>Teaser content</h2>

  <h3>Teaser content 25</h3>
  <div class="teaser-list">
    {{# teaserContent25List }}
      {{> organisms-content-teaser-25 }}
    {{/ teaserContent25List }}
  </div>

  <h3>Teaser content 50</h3>
  <div class="teaser-list">
    {{# teaserContent50List }}
      {{> organisms-content-teaser-50 }}
    {{/ teaserContent50List }}
  </div>

  <h3>Teaser content 100</h3>
  <div class="teaser-list">
    {{> organisms-content-teaser-100 }}
  </div>

  <h2>Teaser offer</h2>

  <h3>Teaser offer 50</h3>
  <div class="teaser-list">
    <div class="teaser teaser-50 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            Verblijf 1 week in <strong>Bora Bora Butik</strong>&nbsp;{{> molecules-hotel-category-images}}<br> o.b.v. all-inclusive, incl. vlucht van Amsterdam - Schiphol en transfer. And o.b.v. ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - Schiphol en transfer
          </p>
          <div class="teaser-cta">
            {{> molecules-button-linked-price-arrow }}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-50 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline(imgSrc: '../../images/sample-21-9-1280-549.png') }}
          <p class="teaser-description">
            Verblijf 1 week in <strong>My Home Resort</strong>&nbsp;{{> molecules-hotel-category-images}}<br> o.b.v. ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - Schiphol en transfer o.b.v. {{> molecules-hotel-category-images}} ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - Schiphol en transfer
          </p>
          <div class="teaser-cta">
            {{> molecules-button-linked-price-arrow }}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-50 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            Verblijf 1 week in <strong>Bora Bora Butik</strong>&nbsp;{{> molecules-hotel-category-images}}<br> o.b.v. all-inclusive, incl. vlucht van Amsterdam - Schiphol en transfer. And o.b.v. ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - Schiphol en transfer
          </p>
          <div class="teaser-cta">
            {{> molecules-button-linked-price-arrow }}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-25 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
           Verblijf 1 week in <strong>Bora Bora Butik</strong>&nbsp;{{> molecules-hotel-category-images}}<br> o.b.v. all-inclusive, incl. vlucht van Amsterdam - Schiphol en transfer and o.b.v. ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - Schiphol en transfer.
          </p>
          <div class="teaser-cta">
            {{> molecules-button-linked-price-arrow }}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-25 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            Verblijf 1 week in <strong>My Home Resort</strong>&nbsp;{{> molecules-hotel-category-images}}<br> o.b.v. ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - {{> molecules-hotel-category-images}} Schiphol en transfer. And o.b.v. ALLINCLUSIVEPLUS, incl. vlucht van Amsterdam - Schiphol en transfer
          </p>
          <div class="teaser-cta">
            {{> molecules-button-linked-price-arrow }}
          </div>
        </div>
      </a>
    </div>
  </div>

</main>
{{> organisms-footer }}

