{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">

  <p>On this page you will see different versions of teasers ... </p>

  <h2>Teaser content</h2>

  <h3>Teaser content 25</h3>
  <div class="teaser-list">
    {{# teaserContent25List }}
      {{> organisms-content-teaser-25 }}
    {{/ teaserContent25List }}
  </div>

  <h3>Teaser content 50</h3>
  <div class="teaser-list">
    {{# teaserContent50List }}
      {{> organisms-content-teaser-50 }}
    {{/ teaserContent50List }}
  </div>

  <h2>Teaser offer</h2>

  <h3>Teaser offer 50</h3>
  <div class="teaser-list">
    <div class="teaser teaser-50 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            "Dies ist ein <strong>richtig cooler Hotelname</strong>&nbsp;{{> molecules-hotel-category-images}}, wie Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz
          </p>
          <div class="teaser-cta">
            {{> molecules-button-price}}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-50 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            "Dies ist ein <strong>richtig cooler Hotelname</strong> {{> molecules-hotel-category-images}}, wie Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz
          </p>
          <div class="teaser-cta">
            {{> molecules-button-price}}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-50 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            "Ein <strong>wirklich langes Wort</strong> {{> molecules-hotel-category-images}}, wie Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz
          </p>
          <div class="teaser-cta">
            {{> molecules-button-price}}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-25 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            "Ein wirklich <strong>langes Wort</strong> {{> molecules-hotel-category-images}}, wie Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz
          </p>
          <div class="teaser-cta">
            {{> molecules-button-price}}
          </div>
        </div>
      </a>
    </div>

    <div class="teaser teaser-25 teaser-offer">
      <a href="#" class="teaser-box" role="button">
        {{> molecules-teaser-images }}
        <div class="teaser-body">
          {{> molecules-teaser-headline }}
          <p class="teaser-description">
            "Ein wirklich <strong>langes Wort</strong> {{> molecules-hotel-category-images}}, wie nicht dieses Wort, aber dieses Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz Restmüllbehältervolumenminderungsgesetz
          </p>
          <div class="teaser-cta">
            {{> molecules-button-price}}
          </div>
        </div>
      </a>
    </div>
  </div>

</main>
{{> organisms-footer }}

