{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">

  {{> atoms-h2 }} 
  
  <section class="top-offer-list">
    {{# topOffers }}
      {{> organisms-top-offer}}
    {{/ topOffers }}

    {{^ topOffers }}
      <p>... No top offers found ...</p>
    {{/ topOffers }}
  </section>

</main>
{{> organisms-footer }}