<div class="link-list single-title">
  <h3>Link List Single Title headline</h3>
  <div class="link-list-container">
    {{> molecules-link-list(singleTitle: true)}}
    {{> molecules-link-list(singleTitle: true)}}
    {{> molecules-link-list(singleTitle: true)}}
    {{> molecules-link-list(singleTitle: true)}}
  </div>
</div>