<div class="container">
  <div class="row">
    <div class="col-sm    border border-info">
      One of three columns
    </div>
    <div class="col-sm    border border-info">
      One of three columns
    </div>
    <div class="col-sm    border border-info">
      One of three columns
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col    border border-info">
      1 of 2
    </div>
    <div class="col    border border-info">
      2 of 2
    </div>
  </div>

  <div class="row">
    <div class="col    border border-info">
      1 of 3
    </div>
    <div class="col    border border-info">
      2 of 3
    </div>
    <div class="col    border border-info">
      3 of 3
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col    border border-info">
      1 of 3
    </div>
    <div class="col-6    border border-info">
      2 of 3 (wider)
    </div>
    <div class="col    border border-info">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col    border border-info">
      1 of 3
    </div>
    <div class="col-5    border border-info">
      2 of 3 (wider)
    </div>
    <div class="col    border border-info">
      3 of 3
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2    border border-info">
      1 of 3
    </div>
    <div class="col-md-auto    border border-info">
      Variable width content
    </div>
    <div class="col col-lg-2    border border-info">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col    border border-info">
      1 of 3
    </div>
    <div class="col-md-auto    border border-info">
      Variable width content
    </div>
    <div class="col col-lg-2    border border-info">
      3 of 3
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col    border border-info">col</div>
    <div class="col    border border-info">col</div>
    <div class="col    border border-info">col</div>
    <div class="col    border border-info">col</div>
  </div>
  <div class="row">
    <div class="col-8    border border-info">col-8</div>
    <div class="col-4    border border-info">col-4</div>
  </div>
</div>
