{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">
  {{> atoms-headings }}
  {{> atoms-paragraph }}
  {{> atoms-lists }}
  {{> organisms-404-element }}
</main>
{{> organisms-footer }}
