{{> organisms-header }}
{{> molecules-page-headline }}

<main role="main" class="container">
  <div class="box-white">
    {{> atoms-headings }}
    {{> atoms-paragraph }}
    {{> atoms-lists }}
  </div>
</main>
{{> organisms-footer }}
