{{> organisms-header }}
{{> organisms-page-headline }}

<main role="main" class="container">
  <div class="teaser-list">
    {{# teaserList }}
        {{> organisms-teaser-50-content }}
    {{/ teaserList }}
  </div>

  <div class="teaser-list">
    <div class="teaser teaser-75 teaser-content">
      <div class="teaser-box">
        {{> molecules-teaser-images }}
        {{> molecules-teaser-body-content }}
      </div>
    </div>
    <div class="teaser teaser-25 teaser-content">
      <div class="teaser-box">
        {{> molecules-teaser-images }}
        {{> molecules-teaser-body-content }}
      </div>
    </div>
  </div>
</main>
{{> organisms-footer }}
