{{> atoms-ad-leaderboard }}
{{> atoms-ad-skyscraper }}
{{> molecules-info-message }}
{{> organisms-header }}
{{> organisms-page-headline(content: 'The standard template') }}

<main role="main" class="container">

	{{> organisms-tabs}}

	{{> atoms-divider }}

	<div class="teaser-list">
		{{> organisms-content-teaser-50 }}
		{{> organisms-offer-teaser-50 }}
	</div>

	<div class="teaser-list">
		{{> organisms-content-teaser-50 }}
		{{> organisms-offer-teaser-50 }}
	</div>

	{{> atoms-divider }}

	<div class="multi-teaser-list">
		{{> organisms-multioffer-teaser-50 }}
		{{> organisms-multioffer-teaser-50 }}
	</div>
		
	{{> atoms-divider }}

	<div class="teaser-list">
		{{> organisms-content-teaser-50}}
		{{> organisms-multioffer-teaser-50 }}
	</div>

	{{> atoms-divider }}

	<div class="multi-teaser-list">
		{{> organisms-multioffer-teaser-50 }}
		{{> organisms-content-teaser-50}}
	</div>

	{{> atoms-divider }}

	<div class="teaser-list">
		{{> organisms-content-teaser-25 }}
		{{> organisms-content-teaser-25 }}
		{{> organisms-content-teaser-25 }}
		{{> organisms-content-teaser-25 }}
	</div>

	{{> atoms-divider }}

	<section class="top-offer-list">
		{{> organisms-top-offer }}
		{{> organisms-top-offer }}
		{{> organisms-top-offer }}
	</section>

	{{> atoms-divider }}

	{{> organisms-linklist-25 }}

	{{> organisms-linklist-single-title }}
</main>

{{> organisms-footer }}
