<div class="fti-message info-message">
  <div class="message-container">
    <div class="icon-container left-icon-container">
      {{>atoms-simple-info}}
    </div>
    <p>Wichtige Informationen: Aktuelle Information zur Insolvenz der Germania <a href="#">finden Sie hier</a>.</p>
  </div>
</div>
