{{> atoms-h5 }}
<div class="multi-teaser-offer-body">
  <div>
    {{> atoms-multioffer-teaser-region}}
    {{> atoms-multioffer-teaser-hotel-content}}
    {{> atoms-multioffer-teaser-info}}
  </div>
  {{> molecules-button-linked-price-arrow }}
</div>


