/*
 * BODY.SCSS should be imported as the first component
 */

body {
  min-width: 320px;
  overflow-y: scroll;
}

/*
 * @summary: Prevents window from being scrollable
 * @description: For example, when a modal is opened
 */
.unscrollable {
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

/*
 * @summary: Helps to display default value for semnatic elements
 * @description: As they usually have div-properties, we are adding them here for ie11
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time {
  display: block;
}
