////
/// @author planetexpress@fti.de
/// @access public
/// @group Body
////

/// Body definition.
body {
  min-width: 320px;
  overflow-y: scroll;
}

/// Prevents elements to be scrolled.
/// Build for html and body element, when mobile header menu is opened.
/// @todo Should be a Placeholder.
/// @todo It doesn't seem to be used at the moment.
/// @todo Dublicated .no_scroll
/// @group Layout
/// @example
///   html,
///   body {
///     height: 100%;
///     overflow: hidden;
///     position: relative;
///   }
.unscrollable {
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

/// Helps to display default value for semnatic elements.
/// As they usually have div-properties, we are adding them here for ie11.
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time {
  display: block;
}
