footer {
  font-size: 12px;  // ToDo this line is shitty stuff
  line-height: 14px;  // ToDo this line is shitty stuff
  text-align: center;
}

.footer-hotline,
.footer-content,
.footer-menu,
.footer-copyright {
  margin-bottom: 1rem;
}

.footer-hotline {
  padding-top: .75rem;
}
