// FOOTER.SCSS

// TODO font-size and padding/margin variables should go here, speak to your designer, to find out, if we use the sizes in a more global context

footer {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.footer-hotline,
.footer-content,
.footer-menu,
.footer-copyright {
  margin-bottom: 1rem;
}

.footer-hotline {
  padding-top: .75rem;
}
