// HEADER.SCSS

// TODO font-size and padding/margin variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
body > header {
  background-color: $white;
}

body > header {
  display: flex;
  margin: 0 auto;
  width: 100%;

  > div {
    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      margin-left: auto;
      text-align: right;
    }
  }
}
