// HEADER.SCSS

// TODO font-size and padding/margin variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
body > header {
  background-color: $white;
  display: block;
  margin: 0 auto;
  min-width: 320px;
  top: 0;
  width: 100%;
  z-index: $header-z-index;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > .header-hotline {
      justify-content: flex-end;
    }

    // header-menu-mobile header-hotline
    // It counts objects that have display:none
    > :nth-child(1),
    > :nth-child(4) {
      flex-basis: calc(50% - #{$logo-width-mobile} / 2);
      flex-grow: 1;
    }
  }
}

.fixed-header {
  display: block;
  height: $logo-width-mobile;
}

@include media-breakpoint-up(lg) {
  body > header {
    position: static;
  }

  .fixed-header {
    display: none;
  }

  body > header > div > :nth-child(3) {
    flex-grow: 1;
  }

  body > header > div > :nth-child(4) {
    flex-basis: auto;
    flex-grow: 0;
  }
}
