// MAIN.SCSS

// TODO font-size and padding/margin variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
main {
  margin-bottom: 20px;
  margin-top: 20px;

  &.ibe {
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .box-white {
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 1rem;

    &:empty {
      display: none;
    }
  }

  .main-content {
    position: relative;
  }

  .width-100 {
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .width-25 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include media-breakpoint-up(md) {
  main {
    margin-bottom: 30px;
    margin-top: 30px;

    &.ibe {
      margin-bottom: 50px;
    }

    .width-25 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .width-50 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
