// MAIN.SCSS

// TODO font-size and padding/margin variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
main {
  margin-bottom: 20px;
  margin-top: 20px;

  &.ibe {
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .box-white {
    background-color: $white;
    box-shadow: 0 0 1rem $gray-300;
    padding: 1rem;

    &:empty {
      display: none;
    }
  }
}

@include media-breakpoint-up(md) {
  main {
    margin-bottom: 30px;
    margin-top: 30px;

    &.ibe {
      margin-bottom: 50px;
    }
  }
}
