////
/// Main is a HTML DOM element that Typo3 uses to place content inside
/// @author planetexpress@fti.de
/// @access public
/// @group Main
/// @todo font-size and padding/margin variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
/// @todo media-queries should go inside the definitions due to create similar code-style experience and for proper documentation
////

/// Main on mobile view
main {
  margin-bottom: 20px;
  margin-top: 20px;

  &.ibe {
    margin-bottom: 40px;
    margin-top: 30px;
  }

  .box-white {
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 1rem;

    &:empty {
      display: none;
    }
  }

  .main-content {
    position: relative;
  }

  .width-100 {
    width: 100%;
  }

  .width-50 {
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .width-25 {
    @include media-breakpoint-up(sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include media-breakpoint-up(md) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .standard-content {
    margin-bottom: $grid-gutter-width;
  }

  .teaser-list .standard-content {
    margin-bottom: 0;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  .main-content.teaser-list {
    .teaser-list .standard-content {
      padding-left: 15px;
      padding-right: 15px;
    }

    .standard-content {
      padding: 0;
    }
  }
}

/// Main on Desktop view
@include media-breakpoint-up(md) {
  /// Main on Desktop view
  main {
    margin-bottom: 30px;
    margin-top: 30px;

    &.ibe {
      margin-bottom: 50px;
    }
  }
}
