<div class="card">
  {{> atoms-teaser-img }}
  <div class="card-body p-2 p-md-3">
    <h3 class="card-title">Sri Lanka</h3>
    <h6 class="card-subtitle">Ranweli Holiday Village</h6>
    <div class="card-content">
      <p>Nubibus inminet sibi nulli? Formas natura nullus. Matutinis phoebe divino.</p>
    </div>
    {{> molecules-offer-teaser-button}}
  </div>
</div>
