<div class="card">
  {{> atoms-teaser-img }}
  <div class="card-body p-2 p-md-3">
    <h3 class="card-title">Unser Reisetipp der Woche: El Gouna</h3>
    <div class="card-content mb-3">
      <p>Nubibus inminet sibi nulli? Formas natura nullus. Matutinis phoebe divino. Aeris regna rudis ignea traxit fabricator mare ignotas diu fluminaque.e</p>
    </div>
    <a href="#" class="btn btn-primary float-right">zu den Angeboten</a>
  </div>
</div>
