<div class="{{ styleModifier }}">
  {{> atoms-godTag(tag: "h3", attr1: "class", attr1Value: "teaser-title", tagContent: "Sri Lanka")}}
  {{> molecules-teaser-subtitle}}
  {{> atoms-godTag(tag: "p", attr1: "class", attr1Value: "teaser-describtion", tagContent: "Eurus igni aequalis? Tollere umentia. Sectamque mentisque frigida nabataeaque cepit effervescere hanc agitabilis ita fluminaque.")}}
  {{> molecules-offer-teaser-button}}
</div>
