<div class="teaser-body">
  {{> atoms-godTag(tag: "h3", attr1: "class", attr1Value: "teaser-title", tagContent: "Sri Lanka")}}
  {{> atoms-godTag(tag: "p", attr1: "class", attr1Value: "teaser-describtion", tagContent: "Eurus igni aequalis? Tollere umentia. Sectamque mentisque frigida nabataeaque cepit effervescere hanc agitabilis ita fluminaque.")}}
  <div class="teaser-cta">
    {{> atoms-godTag(tag: "a", attr1: "class", attr1Value: "btn btn-primary", attr2: "href", attr2Value: "#", tagContent: "zu den Angeboten")}}
  </div>
</div>
