<div class="teaser-body">
  <h3 class="teaser-headline">{{ teaserHeadline }}</h3>
  {{> molecules-teaser-subtitle}}
  <p class="teaser-describtion">{{ teaserDescription }}</p>
  <div class="teaser-cta">
    {{> molecules-button-price}}
  </div>
</div>
