<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure class="image">
        {{> atoms-image-responsive}}
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  {{{ paragraphSingle.medium }}}
</div>
