{{#reviewRateContent}}
    <div class="review-rate {{ reviewRateColor }}">
      <p>{{ reviewRateContent }}</p>
    </div>
{{/reviewRateContent}}
{{^reviewRateContent}}
  <div class="review-rate review-rate-grey">
    <p>1%</p>
  </div>
{{/reviewRateContent}}

