<div class="btn-price">
  {{> atoms-godTag(tag: "p", attr1: "class", attr1Value: "ecp text-right mb-0", tagContent: "2.000CHF") }}
  <div class="foo-bar">
    {{> atoms-godTag(tag: "span", attr1: "class", attr1Value: "small-font mr-1", tagContent: "ab p.P.") }}
    {{> atoms-godTag(tag: "a", attr1: "class", attr1Value: "btn btn-primary", attr2: "href", attr2Value: "#", tagContent: "1.150€") }}
  </div>
</div>
