<div class="linked-price">
  <div class="linked-price-top">
    {{> atoms-linked-price-info }}
  </div>
  <div class="linked-price-body">
    {{> atoms-linked-price-currency }}
    {{> atoms-linked-price-value }}
  </div>
</div>
