<div class="dropdown">
    <button class="btn btn-light dropdown-toggle col-6 d-flex" id="dropdownMenuButton" data-toggle="dropdown">
        <span class="flex-grow-1">Dropdown toggle</span>
        {{> atoms-arrow-down}}
    </button>
    <div class="dropdown-menu">
        <label>{{ plainText }}</label>
    </div>
</div>
