<a href="#" class="top-offer">
  {{> molecules-top-offer-image}}
  <section class="top-offer-info-container">
    {{> molecules-top-offer-hotel-info}}
    <hr>
    {{> molecules-top-offer-info}}
  </section>
</a>
