<section class="top-offer-info">
  <div>
    <div>
        {{> molecules-ibetype-icons }}
        {{> atoms-multioffer-teaser-info}}
    </div>
    {{> molecules-button-linked-price}}
  </div>
  <button type="button" class="btn btn-primary btn-sm">Zu den Angeboten</button>
</section>
