<section class="top-offer-info">
  <div>
    <div>
        {{> molecules-ibetype-icons }}
        {{> atoms-multioffer-teaser-info}}
    </div>
    {{> molecules-button-linked-price}}
  </div>
  {{> atoms-button-primary(content: 'Zu den Angeboten') }}
</section>