.menu-open,
.menu-close {
  align-items: center;
  color: $dark-gray-80;
  cursor: pointer;
  display: none;
  font-size: .75rem;

  &:hover {
    color: $dark-gray-80;
    text-decoration: none;
  }

  > div > i {
    font-size: 1rem;
    height: $content-padding-15 * 2;
    margin-right: 5px;
    width: 21px;
  }
}
