/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.usable::before {
  color: #CC33FF !important;
}

.deprecated::before {
  color: #ff0000 !important;
}

/* Styles for displaying Atoms, Molecules and Organisms
 outside of their natural parent elements */
.sg-pattern-example > .header-sub-menu-container,
.sg-pattern-example > .menu-close {
  display: block!important;
}

.sg-pattern-example > .backdrop {
  display: block!important;
  height: 100px;
  position: static;
  width: 200px;
}
