////
/// @author planetexpress@fti.de
/// @group Typography
/// Global component typgraphy, that does not belong to normal flowing text
////

/// Remove extra margin from an element
/// @example
/// .class {
///   @extend tag-without-margin;
/// }
%tag-without-margin {
  margin-bottom: 0;
}

/// Remove extra margin from p-tag inside a component
/// @example
/// p {
///  @extend %p-tag-without-margin;
/// }
%p-tag-without-margin {
  @extend %tag-without-margin;
}

/// Prevents Anchors make normal text appear as Anchor-text 
/// We have elements, that are themselves huge Anchors and contain text. This text needs to appear normal as the body defines it.
/// @example
/// a {
///  .class {
///     @extend %body-text-look-keeper;
///   }
/// }
%body-text-look-keeper {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
