// GENERAL
html {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

body {
  font-size: $p-font-size;
  font-weight: $font-weight-normal;
  line-height: $p-line-height;
}

// HEADLINES
h1,
.h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-regular;
  line-height: $h1-line-height;
}

h2,
.h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-regular;
  line-height: $h2-line-height;
}

h3,
.h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  line-height: $h3-line-height;
}

h4,
.h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-regular;
  line-height: $h4-line-height;
  text-transform: uppercase;
}

h5,
.h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  line-height: $h5-line-height;
}

// TEXT: P-TAG / SPAN-TAG
p {
  font-size: $p-font-size;
  line-height: $p-line-height;
}

span {
  font-size: $span-font-size;
  line-height: $span-line-height;
}

strong {
  font-weight: $font-weight-bold;
}

ul {
  font-size: $ul-font-size;
  line-height: $ul-line-height;
}

ol {
  font-size: $ol-font-size;
  line-height: $ol-line-height;
}

%small {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

.small {
  @extend %small;
}

%smaller {
  font-size: $smaller-font-size;
  line-height: $smaller-line-height;
}

.smaller {
  @extend %smaller;
}

// Special unordered list styles, not defined in design-guide

.list-styled-dots-primary {
  list-style: none;

  > li {
    &::before {
      color: $primary;
      content: "\2022";
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      margin-right: 10px;
    }
  }
}
