////
/// @author planetexpress@fti.de
/// @todo General Anchor definitions should go into typography.scss.
////

/// General Typography
/// @access public
/// @group Typography
html {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

/// General Typography
/// @access public
/// @group Typography
body {
  color: $font-color;
  font-family: $font-family;
  font-size: $p-font-size;
  font-weight: $font-weight-normal;
  line-height: $p-line-height;
}

/// Headline Typography
/// @access public
/// @group Typography
h1,
.h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-regular;
  line-height: $h1-mobile-line-height;
  margin-bottom: $headline-margin-bottom;

  @include media-breakpoint-up("md") {
    line-height: $h1-line-height;
  }
}

/// Headline Typography
/// @access public
/// @group Typography
h2,
.h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-regular;
  line-height: $h2-mobile-line-height;
  margin-bottom: $headline-margin-bottom;

  @include media-breakpoint-up("md") {
    line-height: $h2-line-height;
  }
}

/// Headline Typography
/// @access public
/// @group Typography
h3,
.h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  line-height: $h3-mobile-line-height;
  margin-bottom: $headline-margin-bottom;

  @include media-breakpoint-up("md") {
    line-height: $h3-line-height;
  }
}

/// Headline Typography
/// @access public
/// @group Typography
h4,
.h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-regular;
  line-height: $h4-mobile-line-height;
  margin-bottom: $headline-margin-bottom;
  text-transform: uppercase;

  @include media-breakpoint-up("md") {
    line-height: $h4-line-height;
  }
}

/// Headline Typography
/// @access public
/// @group Typography
h5,
.h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  line-height: $h5-mobile-line-height;
  margin-bottom: $headline-margin-bottom;

  @include media-breakpoint-up("md") {
    line-height: $h5-line-height;
  }
}

// Not design-defined element
h6,
.h6 {
  margin-bottom: $headline-margin-bottom;
}

/// Paragraph Typography
/// @access public
/// @group Typography
p {
  font-size: $p-font-size;
  line-height: $p-line-height;
}

/// Span Typography
/// @access public
/// @group Typography
span {
  font-size: $span-font-size;
  line-height: $span-line-height;
}

/// Bold Typography
/// @access public
/// @group Typography
strong,
b {
  display: inline;
  font-weight: $font-weight-bold;
}

/// List Typography
/// @access public
/// @group Typography
ul {
  font-size: $ul-font-size;
  line-height: $ul-line-height;
}

/// List Typography
/// @access public
/// @group Typography
ol {
  font-size: $ol-font-size;
  line-height: $ol-line-height;
}

/// .small, %small Typography
/// @access public
/// @group Typography
/// @example
///   .typography-element {
///     @extend %small; 
///   }
%small {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

/// .small, %small Typography
/// @access public
/// @group Typography
.small {
  @extend %small;
}

/// .smaller, %smaller Typography
/// @access public
/// @group Typography
/// @example
///   .typography-element {
///     @extend %smaller; 
///   }
%smaller {
  font-size: $smaller-font-size;
  line-height: $smaller-line-height;
}

/// .smaller, %smaller Typography
/// @access public
/// @group Typography
.smaller {
  @extend %smaller;
}

/// List Typography
/// @access public
/// @todo Not defined in design-guide.
/// @todo Values should be stured in variables.
/// @require $primary
/// @require $font-weight-bold
/// @group Typography
.list-styled-dots-primary {
  list-style: none;

  > li {
    &::before {
      color: $primary;
      content: "\2022";
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      margin-right: 10px;
    }
  }
}
