<div class="page-headline">
  <div class="container">
    <h1 class="qs-h1">Quicksearch</h1>
  </div>
</div>

<div class="qs-background">
  <picture>
    <source media="(min-width: 992px)" srcset="/images/quicksearch_background_1350x480.jpg">
    <source media="(min-width: 768px)" srcset="/images/quicksearch_background_1350x480.jpg">
    <source media="(min-width: 320px)" srcset="/images/quicksearch_background_1350x480.jpg">
    <img src="/images/quicksearch_background_1350x480.jpg"
         alt="Alternative Text"
         title="Image Title"
         class="img-fluid">
  </picture>
</div>

<div class="container">
  <div id="qs" class="qs-with-background">
    {{> organisms-tabs}}
  </div>
</div>
