<div class="link-list-25">
  <div class="link-list-body">
    {{#linkListTitle25}}
      {{> atoms-linklist-title-25}}
    {{/linkListTitle25}}

    <ul class="link-list-ul">
      {{#linkList}}
        {{> atoms-linklist-item}}
      {{/linkList}}
    </ul>
  </div>
</div>
