<div class="link-list-100-links">
  {{> atoms-linklist-100-anchor-link(anchorText: "Urlaub Luxor") }}
  {{> atoms-linklist-100-separator }}
  {{> atoms-linklist-100-anchor-link(anchorText: "Urlaub Sahl Hasheesh") }}
  {{> atoms-linklist-100-separator }}
  {{> atoms-linklist-100-anchor-link(anchorText: "Urlaub Soma Bay") }}
  {{> atoms-linklist-100-separator }}
  {{> atoms-linklist-100-anchor-link(anchorText: "Urlaub Makadi Bay") }}
  {{> atoms-linklist-100-separator }}
  {{> atoms-linklist-100-anchor-link(anchorText: "Urlaub Ägypten Mittelmeerküste") }}
</div>