<div class="link-list-25">
  <div class="link-list-body">
    {{^singleTitle}}
      {{> atoms-godTag(tag: "h4", tagContent: "Link List 25 headline")}}
    {{/singleTitle}}
    <ul>
      {{#linkList}}
        {{> atoms-linklist-item}}
      {{/linkList}}
    </ul>
  </div>
</div>
