<div class="link-list-25">
  <div class="link-list-body">
    {{> atoms-godTag(tag: "h4", tagContent: "Link List 25 headline")}}
    <ul class="list-unstyled">
      <li><a class="text-info" href="/" title="Ahwahnee Hotel">Ahwahnee Hotel****</a></li>
      <li><a class="text-info" href="/" title="Angels Hotel">Angels Hotel***</a></li>
      <li><a class="text-info" href="/" title="The Apple Farm (San Luis Obispo, California)">Apple Farm Inn****</a></li>
      <li><a class="text-info" href="/" title="Apple Valley Inn">Apple Valley Inn***</a></li>
      <li><a class="text-info" href="/" title="Aztec Hotel">Aztec Hotel**</a></li>
      <li><a class="text-info" href="/" class="mw-redirect" title="Balboa Bay Club &amp; Resort">Balboa Bay Club &amp; Resort*****</a></li>
      <li><a class="text-info" href="/" title="Balboa Inn">Balboa Inn****</a></li>
      <li><a class="text-info" href="/" title="Beverly Wilshire Hotel">Beverly Wilshire Hotel*****</a></li>
    </ul>
  </div>
</div>
