<div class="form-group form-check d-flex align-items-baseline">
    <label class="label-container" for="airport1">
        <input type="checkbox" class="" id="airport1">
        <span class="checkmark"></span>
        <span>Berlin-Tegel (TXL)</span>
    </label>
</div>

