<div class="mot_stars">
  {{>atoms-hotel-category-image_filled}}
  {{>atoms-hotel-category-image_filled}}
  {{>atoms-hotel-category-image_filled}}
  {{>atoms-hotel-category-image_half-empty}}
  {{>atoms-hotel-category-image_empty}}
</div>
