<header>
  <div class="container">
        {{> molecules-header-menu-mobile }}
        {{> molecules-header-logo }}
        {{> molecules-header-bookmark }}
        {{> molecules-header-hotline }}
  </div>
</header>

{{> molecules-header-menu-desktop }}
