<header>
  <!-- row-verion -->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div>-->
        <!--{{> molecules-header-logo }}-->
      <!--</div>-->
      <!--<div>-->
        <!--{{> molecules-header-hotline }}-->
        <!--{{> molecules-header-bookmark }}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!-- row-verion -->

  <!-- flexifoo-other-verion -->
  <div>
    {{> molecules-header-logo }}
  </div>
  <div>
    {{> molecules-header-hotline }}
    {{> molecules-header-bookmark }}
  </div>
  <!-- flexifoo-other-verion -->
</header>

{{> molecules-header-menu }}



