<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        {{> molecules-header-logo }}
      </div>
      <div class="col text-right">
        {{> molecules-header-hotline }}
        {{> molecules-header-bookmark }}
      </div>
    </div>
  </div>
</header>

{{> molecules-header-menu }}
