<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header bg-success"></div>
      <div class="card-body">
        <blockquote class="blockquote">scss variable: theme-color("success")</blockquote>
        <footer>Hex-Code: #96c948</footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-dark"></div>
      <div class="card-body">
        <blockquote class="blockquote">scss variable: theme-color("dark")</blockquote>
        <footer>Hex-Code: #343a40</footer>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4">
      <div class="card-header bg-info"></div>
      <div class="card-body">
        <blockquote class="blockquote">scss variable: theme-color("info")</blockquote>
        <footer>Hex-Code: #0099cc</footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-light"></div>
      <div class="card-body">
        <blockquote class="blockquote">scss variable: theme-color("light")</blockquote>
        <footer>Hex-Code: #f4f4f4</footer>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header bg-warning"></div>
      <div class="card-body">
        <blockquote class="blockquote">scss variable: theme-color("warning")</blockquote>
        <footer>Hex-Code: #ffc700</footer>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header bg-danger"></div>
      <div class="card-body">
        <blockquote class="blockquote">scss variable: theme-color("danger")</blockquote>
        <footer>Hex-Code: #c01d1d</footer>
      </div>
    </div>
  </div>
</div>
