<div class="teaser teaser-50 teaser-offer">
  <a href="#" class="teaser-box" role="button">
    {{> molecules-teaser-images }}
    <div class="teaser-body">
      {{> molecules-teaser-headline }}
      {{> molecules-teaser-description }}
      {{! <div class="teaser-cta"> }}
        {{> molecules-button-linked-price-arrow }}
      {{! </div> }}
    </div>
  </a>
</div>
