<div class="teaser teaser-50 teaser-content">
  <div class="teaser-box">
    {{> molecules-teaser-images }}
    <div class="teaser-body">
      {{> molecules-teaser-headline }}
      {{> molecules-teaser-description }}
      <div class="teaser-cta">
        {{> atoms-button-link }}
      </div>
    </div>
  </div>
</div>
