<div class="teaser teaser-25 teaser-content">
  <a href="#" class="teaser-box" title="Teaser 25" role="button">
    {{> molecules-teaser-images }}
    <div class="teaser-body">
      {{> molecules-teaser-headline }}
      {{> molecules-teaser-description }}
      <div class="teaser-cta">
        {{> atoms-button-primary (content: 'Zum Angebot') }}
      </div>
    </div>
  </a>
</div>
