<div>Primary font: "Helvetica Neue", Helvetica, Arial, sans-serif;</div>
<div><em>Primary font italic: "Helvetica Neue", Helvetica, Arial, sans-serif;</em></div>
<div><strong>Primary font bold: "Helvetica Neue", Helvetica, Arial, sans-serif;</strong></div>
