<div class="element-404 text-center">
  <picture>
    <source media="(max-width: 767px)" srcset="//production-nl-ftiportal.gcloud.fti-group.com/fileadmin/user_upload/_static_images/404sm.png">
    <source media="(max-width: 959px)" srcset="//production-nl-ftiportal.gcloud.fti-group.com/fileadmin/user_upload/_static_images/404md.png">
    <source media="(max-width: 1279px)" srcset="//production-nl-ftiportal.gcloud.fti-group.com/fileadmin/user_upload/_static_images/404lg.png">
    <img src="//production-nl-ftiportal.gcloud.fti-group.com/fileadmin/user_upload/_static_images/404xl.png">
  </picture>
  <div class="col col-xs-10 offset-xs-1 col-sm-8 col-lg-6 col-xl-4">
    <h2 class="font-weight-bold">404-h2</h2>
    <h3 class="font-weight-light"> subheader - h3 </h3>
    <p> 404 sample text 404 sample text 404 sample text | p-tag </p>
    <a class="btn btn-primary" href="#"> .btn .btn-primary </a>
  </div>
</div>
