<li class="link-list-item-li">
  {{#anchorText}}
    <a href="{{anchorLink}}" title="{{anchorTitle}}">{{anchorText}}</a>
  {{/anchorText}}
  {{^anchorText}}
    <a href="/" title="Anchor title">Anchor text</a>
  {{/anchorText}}
</li>
