{{#anchorText}}
  <li>
    <a href="{{anchorLink}}" title="{{anchorTitle}}">{{anchorText}}</a>
  </li>
{{/anchorText}}
{{^anchorText}}
  <li>
    <a href="/" title="Anchor title">Anchor text</a>
  </li>
{{/anchorText}}