{{#anchorText}}
  <a class="link-list-100-anchor-link" href="{{anchorLink}}" title="{{anchorTitle}}">{{anchorText}}</a>
{{/anchorText}}
{{^anchorText}}
  <a class="link-list-100-anchor-link" href="/" title="Anchor title">Anchor text</a>
{{/anchorText}}
