<div class="tab-menu">
    <ul class="nav nav-tabs">
        <li class="nav-item text-center">
            <a class="nav-link" href="http://fti.de" target="_blank">
                Lorem ipsum
            </a>
        </li>
    </ul>
</div>