<div class="footer-hotline">
  <div class="container">
    <div class="row">

      <div>
        <h2>FTI Service Center (h5) <b><i class="fg fg-phone"></i> 089 710451498</b></h2>
      </div>
      <div>
        <p>second hotline foo (used atom: paragraph)</p>
      </div>

    </div>
  </div>
</div>
