<div class="footer-hotline">
  <div class="container">

    <div class="row align-items-center">
      <div class="col">
        <h5>FTI Service Center (h5) <i class="fg fg-phone"></i> 089 710451498</h5>
      </div>
      <div class="col">
        <p>second hotline foo (used atom: paragraph)</p>
      </div>
    </div>

  </div>
</div>
