<div class="footer-hotline">
  <div class="container">
    <div class="row">

      <div>
        <p>first hotline foo (markup NOT final)</p>
      </div>
      <div>
        <p>second hotline foo (markup NOT final)</p>
      </div>

    </div>
  </div>
</div>
