.ad-skyscraper-wrapper {
  display: none;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1583px;
  position: absolute;
  top: 230px;
  transform: translateX(-50%);
  z-index: -400;

  .ad-skyscrapper {
    display: block;
    float: right;
    max-height: 1200px;
    max-width: 160px;
    position: relative;
  }
}

@include media-breakpoint-up(ad) {
  .ad-skyscraper-wrapper {
    display: block;
  }
}

.ad-leaderboard-wrapper {
  display: none;
  max-height: 90px;
  max-width: 728px;
  position: static;

  .ad-leaderboard {
    max-width: 728px;
  }
}

@include media-breakpoint-up(lg) {
  .ad-leaderboard-wrapper {
    display: block;
  }
}
