.backdrop {
  background: $black;
  background: $tab-background-color;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: $logo-width-mobile;
  width: 100%;
  z-index: get-z-index("component", "backdrop");
}
