//
// +-- btngrd (oprional variant classes) ----------------------------------+
// |                                                                       |
// | +-- btngrd-header --------------------------------------------------+ |
// | |                                                                   | |
// | +-------------------------------------------------------------------+ |
// |                                                                       |
// | +-- btngrd-body ----------------------------------------------------+ |
// | |                                                                   | |
// | | +-- btngrd-l ------+  +-- btngrd-m ------+  +-- btngrd-r ------+  | |
// | | |                  |  |                  |  |                  |  | |
// | | |                  |  |  <a class"btn">  |  |                  |  | |
// | | |                  |  |                  |  |                  |  | |
// | | +------------------+  +------------------+  +------------------+  | |
// | |                                                                   | |
// | +-------------------------------------------------------------------+ |
// |                                                                       |
// | +-- btngrd-footer --------------------------------------------------+ |
// | |                                                                   | |
// | +-------------------------------------------------------------------+ |
// +-----------------------------------------------------------------------+
//

.btngrd {
  font-size: 1rem;

  .btn {
    font-size: 1.25rem;
  }
}

// sections
.btngrd-header,
.btngrd-footer,
.btngrd-l,
.btngrd-r {
  &:empty {
    display: none;
  }
}

.btngrd-body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.btngrd-l {
  padding-right: .5rem;
}

.btngrd-r {
  padding-left: .5rem;
}

// variantion of
.btngrd-price {
  text-align: right;

  .btngrd-body {
    justify-content: flex-end;
  }
}


