//
// +-- btngrd (optional variant classes) ----------------------------------+
// |                                                                       |
// | +-- btngrd-header --------------------------------------------------+ |
// | |                                                                   | |
// | +-------------------------------------------------------------------+ |
// |                                                                       |
// | +-- btngrd-body ----------------------------------------------------+ |
// | |                                                                   | |
// | | +-- btngrd-l ------+  +-- btngrd-m ------+  +-- btngrd-r ------+  | |
// | | |                  |  |                  |  |                  |  | |
// | | |                  |  |  <a class"btn">  |  |                  |  | |
// | | |                  |  |                  |  |                  |  | |
// | | +------------------+  +------------------+  +------------------+  | |
// | |                                                                   | |
// | +-------------------------------------------------------------------+ |
// |                                                                       |
// | +-- btngrd-footer --------------------------------------------------+ |
// | |                                                                   | |
// | +-------------------------------------------------------------------+ |
// +-----------------------------------------------------------------------+
//

// BTNGRD.SCSS

// TODO font-size and padding variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
.btngrd {
  font-size: 1rem;

  .btn {
    font-size: 1.25rem;
  }
}

// sections
.btngrd-header,
.btngrd-footer,
.btngrd-l,
.btngrd-r {
  &:empty {
    display: none;
  }
}

.btngrd-header,
.btngrd-footer,
.btngrd-body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btngrd-l {
  padding-right: .5rem;
}

.btngrd-r {
  padding-left: .5rem;
}


