// COOKIE-ALERT.SCSS

.cookie-alert {
  background: transparentize($light-gray, .2);
  border-radius: 0;
  bottom: 0;
  display: none;
  margin: 0;
  padding: 40px 5px;
  position: fixed;
  width: 100%;
  z-index: get-z-index("notification", "cookie-alert");

  &.show {
    display: block;
  }

  .accept-cookies {
    margin-left: 10px;
    vertical-align: baseline;
  }

  a {
    text-decoration: underline;
  }
}
