// ELEMENT-404.SCSS

// TODO font-size and padding variables should go here, speak to your designer, to find out, if we use the sizes in a more global context

.element-404 {
  line-height: 1.0625rem;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  > div {
    left: 50%;
    position: absolute;
    top: 52.5%;
    transform: translate(-50%, -50%);
  }

  h2 {
    font-size: 3.0625rem;
    line-height: 1;
    margin: 0;
  }

  h3 {
    font-size: 1.625rem;
    line-height: 2rem;
  }

  p {
    margin-bottom: .875rem;
    padding: 0 1rem;
  }
}

@include media-breakpoint-up("md") {
  .element-404 {
    line-height: 1.25rem;

    > div {
      left: 41.5%;
      top: 50%;
    }

    h2 {
      font-size: 6.25rem;
      line-height: 1;
    }

    h3 {
      font-size: 2rem;
      line-height: 2.4375rem;
    }
  }
}

@include media-breakpoint-up("lg") {
  .element-404 {
    > div {
      left: 37.5%;
      top: 48.5%;
    }

    h3 {
      line-height: 1.5rem;
    }

    p {
      margin-bottom: 1.875rem;
    }
  }
}

@include media-breakpoint-up("xl") {
  .element-404 {
    > div {
      top: 45%;
    }

    h3 {
      line-height: 2.35rem;
    }
  }
}
