// HEADER-BOOKMARK.SCSS

.header-bookmark {
  display: none;
}

@include media-breakpoint-up(lg) {
  .header-bookmark {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    a {
      color: $gray-600;
    }

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;


      // It's a p-tag, because the Typo3 Fluid contentElement creates a p-Tag.
      // p-tag related CSS, to correct the styles
      > p {
        font-size: $header-bookmark-font-size;
        line-height: calc(#{$header-bookmark-line-height} + 6px); // line-height + distance between icon and text
        margin-bottom: 0;
      }

      i {
        font-size: 1rem;
      }
    }
  }
}
