// HEADER-LOGO.SCSS

.fti-logo {
  display: flex;
  text-align: center;
}

.c-logo-link {
  img {
    max-height: 50px;
    max-width: 50px;
  }
}

@include media-breakpoint-up(lg) {
  .fti-logo {
    height: 60px;
  }

  .c-logo-link {
    height: 50px;
    position: relative;
    z-index: 2;

    img {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
      max-height: 80px;
      max-width: 80px;
    }
  }
}
