// HEADER-MENU.SCSS

// TODO padding variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
// TODO make this component-based and do not use bootstrap-classes
.header-menu {
  display: none;
}

// Will be overwritten with onClick behavior by adding and removing classes
.menu-open,
.menu-close,
.header-mobile-navigation,
.backdrop {
  display: none;
}

.header-mobile-menu {
  align-items: center;
  cursor: pointer;
  display: flex;

  > a {
    align-items: center;
    color: $gray-600;
    cursor: pointer;
    font-size: .75rem;

    &:hover {
      text-decoration: none;
    }

    > div > i {
      font-size: 1rem;
      height: 1.1875rem;
      margin-right: 5px;
      width: 21px;
    }
  }

  .backdrop {
    background: #000000;
    background: $tab-background-color;
    height: 100%;
    left: 0;
    position: fixed;
    top: $logo-width-mobile;
    width: 100%;
    z-index: $backdrop-z-index;

    div {
      height: 100%;
      width: 100%;
    }
  }
}

.header-mobile-navigation {
  background-color: $white;
  height: calc(100vh - #{$logo-width-mobile});
  left: 0;
  min-width: 335px; // Todo width or min-width? Question will be solved in 2nd level navigation
  overflow: scroll;
  position: fixed;
  top: 60px;
  width: 335px; // Todo width or min-width? Question will be solved in 2nd level navigation
  z-index: $header-z-index;

  .header-menu-container {
    padding-left: .9375rem;

    li {
      list-style: none;

      .header-menu-item-link {
        color: $gray-600;
        font-size: 1rem;
        text-decoration: none;
      }
    }
  }
}

.header-menu-item {
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: center;

  .header-menu-item-link {
    align-items: center;
  }
}

@include media-breakpoint-up(lg) {
  .header-mobile-menu {
    display: none;
  }

  .header-menu {
    background-color: $gray-100;
    color: $gray-600;
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }

    .header-menu-container {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;

      .header-menu-item {
        margin: .82rem .41rem;

        .header-menu-item-link {
          color: $gray-600;
        }
      }
    }
  }
}
