// HEADER-LOGO.SCSS

.fti-logo {
  display: flex;
  text-align: center;
}

.c-logo-link {
  img {
    height: $logo-width-mobile;
    width: $logo-width-mobile;
  }
}

@include media-breakpoint-up(lg) {
  .c-logo-link {
    img {
      box-shadow: $box-down-shadow;
      height: 80px;
      width: 80px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .c-logo-link {
    height: 80px;
    position: relative;
    z-index: get-z-index("component", "header-logo");

    img {
      height: 100px;
      width: 100px;
    }
  }
}
