// HEADER-BOOKMARK.SCSS

.header-bookmark {
  display: none;
}

@include media-breakpoint-up(lg) {
  .header-bookmark {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: .6875rem;
      line-height: calc(.6875rem + 7px); // font-size + distance between icon and text

      i {
        font-size: 1rem;
      }
    }
  }
}
