// HEADER-MENU.SCSS

// TODO padding variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
// TODO make this component-based and do not use bootstrap-classes
.header-menu {
  display: none;
}

// Will be overwritten with onClick behavior by adding and removing classes
.menu-open,
.menu-close,
.header-mobile-navigation,
.backdrop {
  display: none;
}

.backdrop {
  background: #000000;
  background: $tab-background-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: $logo-width-mobile;
  width: 100%;
  z-index: $backdrop-z-index;
}

.header-mobile-menu {
  align-items: center;
  cursor: pointer;
  display: flex;

  > a {
    align-items: center;
    color: $gray-600;
    cursor: pointer;
    font-size: .75rem;

    &:hover {
      text-decoration: none;
    }

    > div > i {
      font-size: 1rem;
      height: 1.1875rem;
      margin-right: 5px;
      width: 21px;
    }
  }
}

.header-mobile-navigation {
  background-color: $white;
  height: calc(100vh - #{$logo-width-mobile});
  left: 0;
  min-width: 288px;
  overflow: scroll;
  padding-bottom: 20px;
  position: fixed;
  top: 60px;
  width: 90%;
  z-index: $header-z-index;

  hr {
    margin: 0 12px;
  }

  .header-menu-container {
    margin-bottom: 0;
    padding-left: 0;

    .header-menu-item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .header-menu-item-link {
        justify-content: space-between;
        padding: 0 .9375rem; // todo 1 * 15
      }
    }

    li {
      list-style: none;

      a {
        align-items: center;
        color: $gray-600;
        display: flex;
        font-size: 1rem;
        height: 44px;
        text-decoration: none;
        white-space: nowrap;
      }

      a:hover {
        background-color: $gray-100;
      }
    }
  }
}

.header-sub-menu-container {
  display: none;
  padding-left: 0;

  .header-sub-menu-item-link {
    padding-left: 1.875rem; // todo 2 * 15
  }
}

.header-menu-item-link.active {
  background-color: $gray-100;
}

@include media-breakpoint-up(sm) {
  .header-mobile-navigation {
    height: auto;
    width: 100%;

    hr {
      margin: 0 auto;
      width: calc(335px - 1.875rem); // todo 2 * 15
    }

    .header-menu-container {
      margin: 0 auto;
      max-width: 335px;
    }
  }
}


@include media-breakpoint-up(lg) {
  .header-mobile-menu {
    display: none;
  }

  .left-shift {
    right: 0;
  }

  .header-menu {
    background-color: $gray-100;
    color: $gray-600;
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    li {
      white-space: nowrap;
    }

    a {
      color: $gray-600;
      text-decoration: none;
      white-space: nowrap;
    }

    a:hover {
      color: $primary;
      text-decoration: underline;
    }

    .header-menu-container {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;

      .header-menu-item {
        height: auto;
        padding: .82rem .41rem;
        position: relative;

        .header-menu-item-link {
          color: $gray-600;
        }
      }
    }
  }

  .header-sub-menu-container {
    background-color: $white;
    box-shadow: $box-down-shadow;
    list-style: none;
    position: absolute;
    top: 100%;

    .header-sub-menu-item-link {
      align-items: center;
      display: flex;
      height: 44px;
      margin: 0 .9375rem; // todo 1 * 15
      padding: 0 70px 0 0;
    }
  }
}
