// HEADER-LOGO.SCSS

.c-logo-link {
  img {
    max-height: 50px;
    max-width: 50px;
  }
}

@include media-breakpoint-up(md) {
  .c-logo-link {
    img {
      max-height: 80px;
      max-width: 80px;
    }
  }
}
