// HEADER-HOTLINE.SCSS

.header-hotline {
  align-items: center;
  display: flex;
  font-size: .93rem; // The icon-size is bound to the font-size

  // some CSS that gives the content the approximately the size it should have
  > i {
    font-size: 19px;
  }

  // It's a p-tag, because the Typo3 Fluid contentElement creates a p-Tag.
  > p {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    font-weight: 500;
    margin-left: 5px;

    .header-hotline-number {
      font-weight: 600;
    }
  }

  // p-tag related CSS, to correct the styles
  > p {
    margin-bottom: 0;
  }

  // It's a p-tag, because the Typo3 Fluid contentElement creates a p-Tag.
  > p > span {
    display: flex;
    line-height: 1rem;

    a {
      color: $gray-600;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-hotline {
    margin-left: 20px;

    // some CSS that gives the icon content the approximate the size it should have
    > i {
      font-size: 17px;
    }
  }
}
