// HEADER-MENU.SCSS

// TODO padding variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
// TODO make this component-based and do not use bootstrap-classes
.header-menu {
  display: none;
}

.header-menu-mobile-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;

  > i {
    font-size: 1rem;
    height: 19px;
    margin-right: 5px;
    width: 21px;
  }
}

.menu-close,
.header-mobile-menu,
.backdrop {
  display: none;
}

.menu-open {
  &:target {
    display: none;
  }

  &:target ~ a,
  &:target ~ .header-mobile-menu {
    display: block;
  }

  &:target ~ .backdrop {
    background: #000000;
    background: rgba(0, 0, 0, .85);
    display: block;
    height: 100%;
    width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .header-menu-mobile-toggle,
  .header-menu-mobile {
    display: none;
  }

  .header-menu {
    background-color: $gray-100;
    color: $gray-600;
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }

    .header-menu-container {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;

      .header-menu-item {
        margin: .82rem .41rem;

        .header-menu-item-link {
          color: $gray-600;
        }
      }
    }
  }
}
