// LINK-LIST.SCSS

// link-list - yes, the wrapper
.link-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.single-title {
    display: block;

    h3 {
      padding: 0 #{$grid-gutter-width/2 + 10px}; // TODO Check with your designer, what you can do, to change the 10px unit to rem
    }
  }
}

.link-list-25 {
  flex: 0 0 100%;
  margin-bottom: $grid-gutter-width;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  ul {
    list-style: none;
    padding: 0;

    li {
      list-style: none;

      a {
        color: $cyan;
        font-size: .75rem;
      }
    }
  }
}

.link-list-body {
  padding: 10px; // TODO Check with your designer, what you can do, to change unit to rem
}

.link-list-100-anchor-link {
  font-size: .75rem;
  line-height: 1.25rem;
  margin-right: .5rem;

  &:last-child {
    margin-right: 0;
  }
}

.link-list-100-separator {
  margin-right: .5rem;
  transform: translateY(-.125rem);

  &::before {
    color: $secondary-20;
    content: "|";
    font-size: .75rem;
  }
}

.link-list-100-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@include media-breakpoint-up("md") {
  .link-list {
    flex-wrap: nowrap;

    &.single-title {
      h3 {
        padding: 0 $grid-gutter-width/2;
      }

      .link-list-container {
        display: flex;
      }
    }
  }

  .link-list-25 {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .link-list-body {
    padding: 0;
  }

}
