/* link-list - yes, the wrapper */
.link-list {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
}

.link-list-25 {
  flex: 0 0 100%;
  margin-bottom: $grid-gutter-width;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  
  ul li a {
    font-size: .75rem;
  }
}

.link-list-body {
  padding: 10px; // [EH] sry for the pixels ... but the drafts

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: $cyan;
  }
}

@include media-breakpoint-up("md") {
  .link-list {
    flex-wrap: nowrap;
  }

  .link-list-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .link-list-body {
    padding: 0;
  }

}
