$radius: 15px;
$one-third: 7.5px;
$two-thirds: 13px;
$animation: ease-in-out;
$animation-period: 1.44s;
$line-animation-period: -.12s;

.loader {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 46px;
  justify-content: center;
}

.loading-spinner {
  left: -2px;
  position: relative;
  top: -6px;

  > div {
    animation-fill-mode: both;
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 12px;
    margin: 0;
    position: absolute;
    width: 4px;

    @include media-breakpoint-down("sm") {
      height: 10px;
    }
  }

  > div:nth-child(1) {
    animation: line-spin-fade $animation-period $line-animation-period infinite $animation;
    left: 0;
    top: $radius;
  }

  > div:nth-child(2) {
    animation: line-spin-fade $animation-period (2 * $line-animation-period) infinite $animation;
    left: $one-third;
    top: $two-thirds;
    transform: rotate(330deg);
  }

  > div:nth-child(3) {
    animation: line-spin-fade $animation-period (3 * $line-animation-period) infinite $animation;
    left: $two-thirds;
    top: $one-third;
    transform: rotate(300deg);
  }

  > div:nth-child(4) {
    animation: line-spin-fade $animation-period (4 * $line-animation-period) infinite $animation;
    left: $radius;
    top: 0;
    transform: rotate(270deg);
  }

  > div:nth-child(5) {
    animation: line-spin-fade $animation-period (5 * $line-animation-period) infinite $animation;
    left: $two-thirds;
    top: -$one-third;
    transform: rotate(240deg);
  }

  > div:nth-child(6) {
    animation: line-spin-fade $animation-period (6 * $line-animation-period) infinite $animation;
    left: $one-third;
    top: -$two-thirds;
    transform: rotate(210deg);
  }

  > div:nth-child(7) {
    animation: line-spin-fade $animation-period (7 * $line-animation-period) infinite $animation;
    left: 0;
    top: -$radius;
    transform: rotate(180deg);
  }

  > div:nth-child(8) {
    animation: line-spin-fade $animation-period (8 * $line-animation-period) infinite $animation;
    left: -$one-third;
    top: -$two-thirds;
    transform: rotate(150deg);
  }

  > div:nth-child(9) {
    animation: line-spin-fade $animation-period (9 * $line-animation-period) infinite $animation;
    left: -$two-thirds;
    top: -$one-third;
    transform: rotate(120deg);
  }

  > div:nth-child(10) {
    animation: line-spin-fade $animation-period (10 * $line-animation-period) infinite $animation;
    left: -$radius;
    top: 0;
    transform: rotate(90deg);
  }

  > div:nth-child(11) {
    animation: line-spin-fade $animation-period (11 * $line-animation-period) infinite $animation;
    left: -$two-thirds;
    top: $one-third;
    transform: rotate(60deg);
  }

  > div:nth-child(12) {
    animation: line-spin-fade $animation-period (12 * $line-animation-period) infinite $animation;
    left: -$one-third;
    top: $two-thirds;
    transform: rotate(30deg);
  }

}

@keyframes line-spin-fade {
  50% {
    opacity: .15;
  }

  100% {
    opacity: 1;
  }
}
