.on_top {
  z-index: $quicksearch-z-index-mobile;
  @include media-breakpoint-up("md") {
    z-index: $quicksearch-z-index-desktop;
  }
}

.qs-with-background {
  bottom: 150px;
  margin-bottom: -100px;
  min-height: 100px;
  position: relative;
  @include media-breakpoint-down("md") {
    bottom: 100px;
    margin-bottom: -90px;
    min-height: 90px;
  }
  @include media-breakpoint-between("md", "lg") {
    bottom: 250px;
    margin-bottom: -200px;
    min-height: 200px;
  }
}

.qs-with-background.inline {
  margin-bottom: -70px;
}

.qs-inline {
  margin-bottom: 30px;
}

.qs-h1 {
  font-size: $h1-font-size-qs;
  line-height: 1.2em;
  margin-left: 0;
  max-width: 750px;
  position: absolute;
  @include media-breakpoint-between("md", "xl") {
    font-size: $h1-font-size-md-qs;
    max-width: 500px;
  }
  @include media-breakpoint-down("md") {
    font-size: $h1-font-size-sm-qs;
    max-width: 310px;
  }
}

.qs-background {
  max-width: inherit;
  overflow: hidden;
  text-align: center;
  @include media-breakpoint-up("xl") {
    max-width: 100%;
  }

  picture,
  img {
    /**
    * fix object-fit for IE 11
    * works with js (https://github.com/bfred-it/object-fit-images)
    */
    font-family: "object-fit: cover;";
    height: 440px;
    object-fit: cover;
    width: 100%;
    @include media-breakpoint-down("md") {
      height: 215px;
    }
    @include media-breakpoint-between("md", "xl") {
      height: 420px;
    }
  }

}

@include media-breakpoint-down("sm") {
  .no_scroll {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .qs_dropdown_menu {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
  }
}
