// HOTEL CATEGORY IMAGE ELEMENTS (previously known as Stars)

.mot_stars {
  display: inline-flex;
  white-space: nowrap;

  .rating-star:first-child {
    margin-left: 0;
  }
}

.rating-star {
  background-color: $dark-gray;
  border: 1px solid $dark-gray;
  display: inline-block;
  height: $p-font-size / 2;
  margin-left: 2px;
  width: $p-font-size / 2;

  &.rating-star-empty {
    background-color: transparent;
  }

  &.rating-star-half-empty {
    background: linear-gradient(-45deg, transparent 50% , $dark-gray 50%);
    overflow: hidden;
  }
}
