.review-rate {
  border-radius: 2px;
  color: $white;
  font-weight: $font-weight-bold;
  padding: 1px 0;
  text-align: center;
  width: 50px;

  p {
    margin: 0;
  }
}

.review-rate-grey {
  background-color: $secondary-60;
}

.review-rate-yellow {
  background-color: $yellow;
}

.review-rate-green {
  background-color: $green;
}
