// TEASER.SCSS



// TODO padding variables should go here, speak to your designer, to find out, if we use the sizes in a more global context
// +-- teaser (optional variant classes) -----------------------------------+
// | e.g. teaser-content | teaser-offer ... teaser-25 | teaser-50           |
// |                                                                        |
// | +-- teaser-box ------------------------------------------------------+ |
// | |                                                                    | |
// | |  +-- teaser-images ---------------------------------------------+  | |
// | |  |                                                              |  | |
// | |  +--------------------------------------------------------------+  | |
// | |                                                                    | |
// | |  +-- teaser-body -----------------------------------------------+  | |
// | |  |                                                              |  | |
// | |  | +-- teaser-headline --------------------------------------+  |  | |
// | |  | |                                                         |  |  | |
// | |  | +---------------------------------------------------------+  |  | |
// | |  |                                                              |  | |
// | |  | +-- teaser-description -----------------------------------+  |  | |
// | |  | |                                                         |  |  | |
// | |  | +---------------------------------------------------------+  |  | |
// | |  |                                                              |  | |
// | |  | +-- teaser-cta -------------------------------------------+  |  | |
// | |  | |                                                         |  |  | |
// | |  | +---------------------------------------------------------+  |  | |
// | |  +--------------------------------------------------------------+  | |
// | |                                                                    | |
// | +--------------------------------------------------------------------+ |
// +------------------------------------------------------------------------+
//

// teaser - global definitions

// teaser - the wrapper
.teaser-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($grid-gutter-width / 2 * -1);
  margin-right: ($grid-gutter-width / 2 * -1);

  &.main-content {
    margin-left: 0;
    margin-right: 0;

    .teaser-list {
      margin-left: ($grid-gutter-width / 2 * -1);
      margin-right: ($grid-gutter-width / 2 * -1);
      width: calc(100% + #{$grid-gutter-width}); // for IE11
    }
  }

  hr {
    display: none;
  }
}

// teaser - basic structure
.teaser {
  margin-bottom: $grid-gutter-width;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  width: 100%;
}

.teaser-box {
  @extend %component-boxing;
  @extend %body-text-look-keeper;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.teaser-images {
  flex: 0 0 auto;
  width: 100%;
}

.teaser-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: $content-padding-15;
}

.teaser-cta {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;

  &:hover {
    .linked-price-currency,
    .linked-price-value,
    .linked-price-arrow {
      color: $link-hover-color;
    }
  }
}

// teaser - basic elements
.teaser-images {
  picture {
    source,
    img {
      width: 100%;
    }
  }
}

.teaser-headline,
.teaser-description {
  flex: 0 0 auto;
}

.teaser-description {
  margin-bottom: 1rem;
}

// specials for teasers
.teaser {
  .teaser-headline {
    font-size: $h3-font-size;
    line-height: $teaser-h3-line-height;
  }

  .teaser-description {
    font-size: $font-size-base;
    line-height: $teaser-p-line-height;
  }
}

// teaser - media queries
@include media-breakpoint-up("sm") {
  // outer sizing
  .teaser-25 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include media-breakpoint-up("md") {
  // outer sizing
  .teaser-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .teaser-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  //basic structure
  .teaser-body {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
