/* teaser - global definitions */
.teaser {
  margin-bottom: $grid-gutter-width;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  width: 100%;
}

.teaser-box {
  background-color: $white;
  box-shadow: 0 0 ($grid-gutter-width / 2) 0 $gray-300;
  height: 100%;
}

.teaser-body {
  padding: 10px 15px; // [EH] sry for the pixels ... but the drafts

  > .teaser-cta {
    text-align: right;
  }
}

.teaser-headline {
  @include multi-line-cut($h3-line-height, 2);
}

.teaser-describtion {
  @include multi-line-cut($paragraph-line-height, 3);
}
/* teaser - KIND */
.teaser-content {
  .teaser-body {
    > .teaser-cta {
      text-align: center;
    }
  }
}
//.teaser-offer {
//
//}


/* teaser-list - yes, the wrapper */
.teaser-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($grid-gutter-width / 2 * -1);
  margin-right: ($grid-gutter-width / 2 * -1);
}

/* teaser - SIZE */
@include media-breakpoint-up("md") {
  .teaser-body {
    padding: 15px 20px;
  }

  .teaser-headline {
    @include multi-line-cut($h3-line-height-md, 2);
  }

  .teaser-describtion {
    @include multi-line-cut($paragraph-line-height-md, 3);
  }

  .teaser-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .teaser-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .teaser-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  //.teaser-100{}

}

