// TEXT-IMAGE.SCSS

.ce-textpic,
.ce-gallery,
.ce-row {
  overflow: hidden;
}

%margin-bottom {
  margin-bottom: $ce-image-margin;
}

%margin-top {
  margin-top: $ce-image-margin;

  @include media-breakpoint-up("md") {
    margin-top: 0;
  }
}

%ce-gallery-desktop-spacing {
  @include media-breakpoint-up("md") {
    max-width: calc(50% - .5rem);
  }
}

.ce-intext.ce-right {
  .ce-gallery {
    @extend %margin-bottom;
    @extend %margin-top;
    @extend %ce-gallery-desktop-spacing;

    @include media-breakpoint-up("md") {
      float: right;
      margin-left: $ce-image-margin;
    }
  }
}

.ce-intext.ce-left {
  .ce-gallery {
    @extend %margin-bottom;
    @extend %margin-top;
    @extend %ce-gallery-desktop-spacing;

    @include media-breakpoint-up("md") {
      float: left;
      margin-right: $ce-image-margin;
    }
  }
}

.ce-above {
  .ce-gallery {
    @extend %margin-bottom;
    @extend %margin-top;
  }
}

.ce-row {
  @extend %margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

.ce-column {
  margin-right: $ce-image-margin;

  @include media-breakpoint-up("md") {
    float: left;
  }

  &:last-child {
    margin-right: 0;
  }
}

.ce-gallery {
  figure {
    display: table;
    margin: 0 auto; // TODO figure Conflicting definition
  
    @include media-breakpoint-up("md") {
      margin: 0;
    }
  }
}

figure {
  margin: 0 0 $ce-image-margin; // figure TODO Conflicting definition
}
