// Base
$light-gray: #eeeeee;
$light-gray-80: #f1f1f1;
$light-gray-60: #f3f3f3;
$light-gray-40: #f6f6f6;
$light-gray-20: #f8f8f8;

$red: #cc0000;
$red-80: #d63232;
$red-60: #df6464;
$red-40: #e89696;

$yellow: #ffc700;
$yellow-80: #fed232;
$yellow-60: #fddc64;
$yellow-40: #fce696;

$green: #96c948;
$green-80: #aad36c;
$green-60: #bedd90;
$green-40: #d2e7b3;

$cyan: #0099cc;
$cyan-80: #32add6;
$cyan-60: #64c0df;
$cyan-40: #96d3e8;

$white: #ffffff;
$black: #000000;

$dark-orange: #ff8000;

$purple: #aa165f;

// Corporate Colors
$primary: #ff9933;
$primary-80: #fead5b;
$primary-60: #fdc083;
$primary-40: #fcd4ab;
$primary-20: #fbe7d3;

$secondary: #424242;
$secondary-80: #676767;
$secondary-60: #8c8c8c;
$secondary-40: #b1b1b1;
$secondary-20: #d6d6d6;

$font-color: $secondary;

///////// LIGHT/DARK CONTRAST

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
//$yiq-contrasted-threshold: 200;

// TEXT
$text-muted: $secondary-60;

// BOX-SHADOW
$box-down-shadow: 0 3px 10px 0 transparentize($black, .9);
$box-shadow: 0 0 1rem 0 transparentize($black, .9);
$dropdown-shadow: 0 4px 5px 2px transparentize($black, .9);

// FOCUS
$input-btn-focus-color: transparentize($primary, .5);

///////// COMPONENTS

// LINKS
$link-color: $primary;
$link-hover-color: $link-color;

// BUTTON
$button-hover-color: $dark-orange;
$button-hover-border-color: $dark-orange;

// TAB
$tab-background-color: transparentize($light-gray, .25);
