/*
    CUSTOM VARIABLES

    Bootstrap variables can be re-defined and customized:
    Copy the variable you want to re-define and set the value without "!default".
    We are doing it here to have an overview of the variables and definitons we are using for the portals.

    NAMING RULES
    Variables should follow the `$component-state-property-size` formula for
    consistent naming. Example: $nav-link-disabled-color and $modal-content-box-shadow-xs.

    We have the chance to make this repository a template for all portals:
    By declaring a variable with !default, you can set a default color, that a specific portal can change in their own repository.
*/

// TODO split by theme and put it into own files
@import "typography-variables";

/*
    TABLE OF CONTENT

    Colors
    Light/Dark contrast

    Body
    Header
    Navigation
    Links
    Text
    Tab
    Box-Shadow
    Z-indexes
    Components (padding, border-radius and more)

    Grid breakpoints
    Grid containers

    Margins & Paddings

    Logo
*/

// COLORS
$gray-100: #eeeeee;
$gray-300: #b3b3b3;
$gray-400: #929497;
$gray-600: #666666;
$gray-800: #424242;

$red: #fc1119;
$orange: #ff9933; //fti-orange
$yellow: #ffc700;
$green: #96c948;
$cyan: #0099cc;
$white: #ffffff;
$black: #000000;

$primary: $orange;
$primary-20: lighten($primary, 20%);
$primary-40: lighten($primary, 40%);
$primary-60: lighten($primary, 60%);
$primary-80: lighten($primary, 80%);

$secondary: $gray-600;
$secondary-20: lighten($secondary, 20%);
$secondary-40: lighten($secondary, 40%);
$secondary-60: lighten($secondary, 60%);
$secondary-80: lighten($secondary, 80%);

// LIGHT/DARK CONTRAST

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 200;

// BODY
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-600;

// HEADER
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{rgba($gray-600, .9999)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

// NAVIGATION
$header-navigation-mobile-width: 90%;
$header-navigation-mobile-min-width: 288px;
$header-navigation-tablet-width: 335px;
$header-navigation-item-height: 44px;
$header-sub-navigation-desktop-padding: 70px;

// LINKS
$link-color: $orange;
$link-hover-color: $link-color;

// TEXT
$text-muted: $gray-300;

// TAB
$tab-background-color: transparentize($gray-100, .25);

// BOX-SHADOW
$box-down-shadow: 0 3px 10px 0 transparentize($black, .9);
$box-shadow: 0 0 1rem 0 transparentize($black, .9);
$dropdown-shadow: 0 4px 5px 2px transparentize($black, .9);

// FOCUS
$input-btn-focus-color: transparentize($primary, .5);

// Z-INDEXES
$backdrop-z-index: 1;
$header-logo-z-index: 2;
$cookie-alert-z-index: 100;
$header-z-index: 10;
$header-sub-menu-desktop-z-index: 1;
$quicksearch-z-index-desktop: 9;
$quicksearch-z-index-mobile: 11;
$select-z-index: -1;

// COMPONENTS
$border-radius: .125rem;
$border-radius-lg: .125rem;
$border-radius-sm: .125rem;



// GRID BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 960px,
  xl: 1280px,
  ad: 1600px
);

// MARGINS & PADDINGS
$content-padding-15: .9375rem;

// GRID CONTAINERS
$container-max-widths: (
  sm: 28.1875 + 2 * $content-padding-15,
  md: 45.125 + 2 * $content-padding-15,
  lg: 56.375 + 2 * $content-padding-15,
  xl: 75.1875 + 2 * $content-padding-15
);

// LOGO
$logo-width-mobile: 60px;
