/*
    CUSTOM VARIABLES

    Bootstrap variables can be re-defined and customized:
    Copy the variable you want to re-define and set the value without "!default".
    We are doing it here to have an overview of the variables and definitons we are using for the portals.

    NAMING RULES
    Variables should follow the `$component-state-property-size` formula for
    consistent naming. Example: $nav-link-disabled-color and $modal-content-box-shadow-xs.

    We have the chance to make this repository a template for all portals:
    By declaring a variable with !default, you can set a default color, that a specific portal can change in their own repository.
*/

// TODO split by theme and put it into own files
@import "color-variables";
@import "typography-variables";

/*
    TABLE OF CONTENT

    Z-Index Map
    Grid breakpoints
    Grid containers
    Margins & Paddings

    Components (padding, border-radius and more)
    Header
    Navigation
    Logo
*/

// Z-INDEX MAP
// @description: https://confluence.fti-group.com/display/PORTALS/z-index+strategy
$z-layers: (
  "bottomless-pit": (
    "select-tab": -1
  ),
  "component": (
    "base": 0,
    "backdrop": 1,
    "header-logo": 1,
    "header": 10,
  ),
  "navigation": (
    "base": 2000,
    "header-sub-menu-desktop": 2900,
  ),
  "notification": (
    "base": 3000,
    "cookie-alert": 3900
  ),
);
// GRID BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 960px,
  xl: 1280px,
  ad: 1600px // advertisment AT
);

// MARGINS & PADDINGS
$content-padding-15: .9375rem;

// GRID CONTAINERS
$container-max-widths: (
  sm: 28.1875 + 2 * $content-padding-15,
  md: 45.125 + 2 * $content-padding-15,
  lg: 56.375 + 2 * $content-padding-15,
  xl: 75.1875 + 2 * $content-padding-15
);

// COMPONENTS
$border-radius: .125rem;
$border-radius-lg: .125rem;
$border-radius-sm: .125rem;

// HEADER
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{rgba($secondary-80, .9999)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

// NAVIGATION
$header-navigation-mobile-width: 90%;
$header-navigation-mobile-min-width: 288px;
$header-navigation-tablet-width: 335px;
$header-navigation-item-height: 44px;
$header-sub-navigation-desktop-padding: 70px;

// LOGO
$logo-width-mobile: 60px;

// TEXT-IMAGES
$ce-image-margin: $font-size-base * 1;
