// Base
$font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically '16px'

$font-weight-regular: 400;
$font-weight-bold: 700 !default;

// Headlines
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.12;
$h5-font-size: $font-size-base * 1.12;

$h1-line-height: $font-size-base * 3;
$h2-line-height: $font-size-base * 2.5;
$h3-line-height: $font-size-base * 2;
$h4-line-height: $font-size-base * 1.875;
$h5-line-height: $font-size-base * 1.875;

$headline-margin-bottom: $font-size-base * .75;

// p-tag
$p-font-size: $font-size-base;
$p-line-height: $font-size-base * 1.625;

// span-tag
$span-font-size: $font-size-base;
$span-line-height: $font-size-base * 1.625;

// lists
$ul-font-size: $font-size-base;
$ul-line-height: $font-size-base * 1.625;
$ol-font-size: $font-size-base;
$ol-line-height: $font-size-base * 1.625;

// small
$small-font-size: $font-size-base * .875;
$small-line-height: $font-size-base * 1.5;

// smaller
$smaller-font-size: $font-size-base * .75;
$smaller-line-height: $font-size-base * 1.25;

/*
  Not defined in design-guide - Typography, but in their components:
*/

// Single Teaser specials
$teaser-h3-line-height: $font-size-base * 1.5;
$teaser-p-line-height: $font-size-base * 1.5;

// Multioffer teaser specials
$mo-teaser-h3-line-height: $font-size-base * 1.5;
$mo-teaser-h5-font-size-md: $font-size-base * 1.125;
$mo-teaser-p-line-height: $font-size-base * 1.25;
//Adjusting distances of p-tags and h-tags:
$mo-teaser-h4-margin-bottom: .25rem;
$mo-teaser-h5-margin-bottom: .25rem;
$mo-teaser-info-margin-top: .5rem;


// Header bookmark
$header-bookmark-font-size: .6875rem;
$header-bookmark-line-height: .75rem;

$header-hotline-font-size: $smaller-font-size;
$header-hotline-line-height: $font-size-base;

// Linked Price
// Used for Offer Teaser and Multi Offer Teaser
$linked-price-font-size: $font-size-base * 1.375;
$linked-price-line-height: $font-size-base * 1.625;
$linked-price-font-weight: $font-weight-bold;
$linked-price-letter-spacing: .3px;
$linked-price-info-font-size: $font-size-base * .75;
$linked-price-info-line-height: $font-size-base * 1;

/*
  Todo another definition of H1 which, for SEO reasons, shouldn't be here. We should prevent having an h1 title in the background element.
   Or semantic html division.
*/
