////
/// @author planetexpress@fti.de
/// @access public
/// @group Typography
////

/// Base Typography
/// @example font-family: $font-family;
$font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/// Base Typography
/// Assumes the browser default, typically '16px'.
/// @example font-size: $font-size-base;
$font-size-base: 1rem; 

/// Base Typography
/// @example font-weight: font-weight-regular;
$font-weight-regular: 400;

/// Base Typography
/// @example 
///   .class {
///    font-weight: 800;
///   }
///   .class {
///    font-weight: $font-weight-bold; // 800
///   }
$font-weight-bold: 700 !default;

/// Headline Typography
/// @example font-size: $h1-font-size;
$h1-font-size: $font-size-base * 2;

/// Headline Typography
/// @example font-size: $h2-font-size;
$h2-font-size: $font-size-base * 1.6;

/// Headline Typography
/// @example font-size: $h3-font-size;
$h3-font-size: $font-size-base * 1.25;

/// Headline Typography
/// @example font-size: $h4-font-size;
$h4-font-size: $font-size-base * 1.12;

/// Headline Typography
/// @example font-size: $h5-font-size;
$h5-font-size: $font-size-base * 1.12;

/// Headline Typography
/// @example line-height: $h1-line-height;
$h1-line-height: $font-size-base * 3;

/// Headline Typography
/// @example line-height: $h2-line-height;
$h2-line-height: $font-size-base * 2.5;

/// Headline Typography
/// @example line-height: $h3-line-height;
$h3-line-height: $font-size-base * 2;

/// Headline Typography
/// @example line-height: $h4-line-height;
$h4-line-height: $font-size-base * 1.875;

/// Headline Typography
/// @example line-height: $h5-line-height;
$h5-line-height: $font-size-base * 1.875;

/// Headline Typography
/// @example line-height: $h1-mobile-line-height;
$h1-mobile-line-height: $font-size-base * 2.75;

/// Headline Typography
/// @example line-height: $h2-mobile-line-height;
$h2-mobile-line-height: $font-size-base * 2.125;

/// Headline Typography
/// @example line-height: $h3-mobile-line-height;
$h3-mobile-line-height: $font-size-base * 1.75;

/// Headline Typography
/// @example line-height: $h4-mobile-line-height;
$h4-mobile-line-height: $font-size-base * 1.5;

/// Headline Typography
/// @example line-height: $h5-mobile-line-height;
$h5-mobile-line-height: $font-size-base * 1.5;

/// Headline Typography
/// @example font-size: $headline-margin-bottom;
$headline-margin-bottom: $font-size-base * .75;

/// Paragraph Typography
/// @example font-size: $p-font-size;
$p-font-size: $font-size-base;

/// Paragraph Typography
/// @example line-height: $p-line-height;
$p-line-height: $font-size-base * 1.625;

/// Span Typography
/// @example font-size: $span-font-size;
$span-font-size: $font-size-base;

/// Span Typography
/// @example line-height: $span-line-height;
$span-line-height: $font-size-base * 1.625;

/// List Typography
/// @example font-size: $ul-font-size;
$ul-font-size: $font-size-base;

/// List Typography
/// @example line-height: $ul-line-height;
$ul-line-height: $font-size-base * 1.625;

/// List Typography
/// @example font-size: $ol-font-size;
$ol-font-size: $font-size-base;

/// List Typography
/// @example line-height: $ol-line-height;
$ol-line-height: $font-size-base * 1.625;

/// .small, %small Typography
/// @example font-size: $small-font-size;
$small-font-size: $font-size-base * .875;

/// .small, %small Typography
/// @example line-height: $ol-line-height;
$small-line-height: $font-size-base * 1.5;

/// .smaller, %smaller Typography
/// @example font-size: $smaller-font-size;
$smaller-font-size: $font-size-base * .75;

/// .smaller, %smaller Typography
/// @example line-height: $smaller-line-height;
$smaller-line-height: $font-size-base * 1.25;

/// Single Teaser Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $teaser-h3-line-height;
$teaser-h3-line-height: $font-size-base * 1.5;

/// Single Teaser Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $teaser-p-line-height;
$teaser-p-line-height: $font-size-base * 1.5;

/// Multioffer Teaser Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $mo-teaser-h3-line-height;
$mo-teaser-h3-line-height: $font-size-base * 1.5;

/// Multioffer Teaser Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example font-size: $mo-teaser-h5-font-size-md;
$mo-teaser-h5-font-size-md: $font-size-base * 1.125;

/// Multioffer Teaser Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $mo-teaser-p-line-height;
$mo-teaser-p-line-height: $font-size-base * 1.25;

/// Adjusting Multioffer Teaser H4 bottom distance.
/// @example margin-bottom: $mo-teaser-h4-margin-bottom;
$mo-teaser-h4-margin-bottom: .25rem;

/// Adjusting Multioffer Teaser H5 bottom distance.
/// @example margin-bottom: $mo-teaser-h5-margin-bottom;
$mo-teaser-h5-margin-bottom: .25rem;

/// Adjusting Multioffer Teaser Info Line bottom distance.
/// @example margin-bottom: $mo-teaser-info-margin-top;
$mo-teaser-info-margin-top: .5rem;


/// Header Bookmark Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example font-size: $header-bookmark-font-size;
$header-bookmark-font-size: .6875rem;

/// Header Bookmark Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $header-bookmark-line-height;
$header-bookmark-line-height: .75rem;

/// Header Hotline Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example font-size: $header-hotline-font-size;
$header-hotline-font-size: $smaller-font-size;

/// Header Hotline Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $header-hotline-line-height;
$header-hotline-line-height: $font-size-base;

/// Linked Price Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example font-size: $linked-price-font-size;
$linked-price-font-size: $font-size-base * 1.375;

/// Linked Price Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $linked-price-line-height;
$linked-price-line-height: $font-size-base * 1.625;

/// Linked Price Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example font-weight: $linked-price-font-weight;
$linked-price-font-weight: $font-weight-bold;

/// Linked Price Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example letter-spacing: $linked-price-letter-spacing;
$linked-price-letter-spacing: .3px;

/// Linked Price Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example font-size: $linked-price-info-font-size;
$linked-price-info-font-size: $font-size-base * .75;

/// Linked Price Typography
/// @todo Not defined in design-guide - Typography, but in their components.
/// @example line-height: $linked-price-info-line-height;
$linked-price-info-line-height: $font-size-base * 1;