<div class="multi-teaser-hotel-content">
  <div class="multi-teaser-hotel-name">
    {{#hotel}}
      {{#pContent}}
        {{> atoms-simple-p-text}}
      {{/pContent}}
      {{^hotel.pContent}}
        <p></p>
      {{/hotel.pContent}}
    {{/hotel}}
    {{> molecules-hotel-category-images }}
  </div>
</div>
