<div class="teaser teaser-50 teaser-offer">
  <a href="#" class="teaser-box" role="button">
    <div class="teaser-body">
      {{> molecules-multioffer-teaser-head }}
      Multioffer Teaser Conent is coming soon.
      {{> molecules-multiofferteaser-content }}
      <div class="teaser-cta">
        {{> molecules-button-linked-price }}
      </div>
    </div>
  </a>
</div>
