////
/// @ignore We do not document Patternlab specific definitions
////

.bg-primary {
  background-color: $primary;
}

.bg-primary-80 {
  background-color: $primary-80;
}

.bg-primary-60 {
  background-color: $primary-60;
}

.bg-primary-40 {
  background-color: $primary-40;
}

.bg-primary-20 {
  background-color: $primary-20;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-80 {
  background-color: $secondary-80;
}

.bg-secondary-60 {
  background-color: $secondary-60;
}

.bg-secondary-40 {
  background-color: $secondary-40;
}

.bg-secondary-20 {
  background-color: $secondary-20;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-light-gray-80 {
  background-color: $light-gray-80;
}

.bg-light-gray-60 {
  background-color: $light-gray-60;
}

.bg-light-gray-40 {
  background-color: $light-gray-40;
}

.bg-light-gray-20 {
  background-color: $light-gray-20;
}

.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}

.bg-purple {
  background-color: $purple;
}

.bg-dark-orange {
  background-color: $dark-orange;
}

.bg-green {
  background-color: $green;
}

.bg-green-80 {
  background-color: $green-80;
}

.bg-green-60 {
  background-color: $green-60;
}

.bg-green-40 {
  background-color: $green-40;
}

.bg-red {
  background-color: $red;
}

.bg-red-80 {
  background-color: $red-80;
}

.bg-red-60 {
  background-color: $red-60;
}

.bg-red-40 {
  background-color: $red-40;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-yellow-80 {
  background-color: $yellow-80;
}

.bg-yellow-60 {
  background-color: $yellow-60;
}

.bg-yellow-40 {
  background-color: $yellow-40;
}

.bg-cyan {
  background-color: $cyan;
}

.bg-cyan-80 {
  background-color: $cyan-80;
}

.bg-cyan-60 {
  background-color: $cyan-60;
}

.bg-cyan-40 {
  background-color: $cyan-40;
}

