/* mixin for multiline */

@mixin multi-line-cut($lineHeight, $lineCount) {
  /* stylelint-disable property-no-vendor-prefix */
  /* stylelint-disable value-no-vendor-prefix */
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  /* stylelint-enable */
  max-height: $lineHeight * $lineCount; /* fallback */
  overflow: hidden;
  text-overflow: ellipsis;
}
