/**
 * this file contains only our variables
 * line height and marging settings for headers
 * for size settings pls take a look at the bootstrap/_variables.scss
 */
$h1-line-height: 2.37rem;
$h2-line-height: 1.93rem;
$h3-line-height: 1.75rem;
$h4-line-height: 1.37rem;
$h5-line-height: 1.56rem;
$h6-line-height: 1.56rem;

$h1-margin-bottom: 1.87rem;
$h2-margin-bottom: 1.56rem;
$h3-margin-bottom: .93rem;
$h4-margin-bottom: .93rem;
$h5-margin-bottom: .62rem;
$h6-margin-bottom: .62rem;

