<div class="header-hotline">
  {{> atoms-phone }}
  <!-- It's a p-tag, because the Typo3 Fluid contentElement creates a p-Tag. -->
  <p>
    <span>Kundenservice</span>
    <span class="header-hotline-number"><a href="tel:0237521920">023 75219 20</a></span>
  </p>
</div>
