<div class="header-bookmark">
  <div>
    <div>
      {{> atoms-info }}
    </div>
    <!-- It's a p-tag, because the Typo3 Fluid contentElement creates a p-Tag. -->
    <p>
      <a href="#">Service & Kontakt</a>
    </p>
  </div>
</div>
