<nav class="header-menu">
  <ul class="header-menu-container">
    {{#headerMenu }}
      {{#headerMenuSecondLevelItems.length}}
      <li class="header-menu-item" onclick="javascript:headerNavigation.toggleSubMenu(this)">
        <a class="header-menu-item-link" href="#">{{ headerMenuItem }}</a>
        {{> atoms-arrow-down }}
        {{#headerMenuSecondLevelItems.length }}
          <ul class="header-sub-menu-container">
            {{#headerMenuSecondLevelItems}}
              <li class="header-sub-menu-item">
                <a href="#" class="header-sub-menu-item-link">
                  <span>{{ item }}</span>
                </a>
              </li>
            {{/headerMenuSecondLevelItems}}
          </ul>
        {{/headerMenuSecondLevelItems.length}}
      </li>
      {{/headerMenuSecondLevelItems.length}}
      {{^headerMenuSecondLevelItems.length}}
        <li class="header-menu-item active">
          <a class="header-menu-item-link" href="#">
            <span>{{ headerMenuItem }}</span>
          </a>
        </li>
      {{/headerMenuSecondLevelItems.length}}
    {{/headerMenu}}
  </ul>
</nav>
