<nav class="header-menu">
  <ul class="header-menu-container">
    <li class="header-menu-item active">
      <a class="header-menu-item-link" href="#">Last minute</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-item-link" href="#">Vakantie boeken</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-item-link" href="#">Hotel Boeken</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-item-link" href="#">Vakantiebestemmingen</a>
    </li>
    <li class="header-menu-item">
      <a class="header-menu-item-link" href="#">Familievakantie</a>
    </li>
  </ul>
</nav>
