<nav class="header-menu">
  <ul class="header-menu-container">
    {{#headerMenu }}
    <li class="header-menu-item active">
      <a class="header-menu-item-link" href="#">{{ headerMenuItem }}</a>
      {{#headerMenuSecondLevelItems }}
        <ul>
          {{#item}}
            <li><a href="#">{{ item }}</a></li>
          {{/item}}
        </ul>
      {{/headerMenuSecondLevelItems}}
    </li>
    {{/headerMenu}}
  </ul>
</nav>
