<div class="cookie-alert alert alert-warning alert-dismissible text-center" role="alert">
  Diese Webseite verwendet Cookies, um Ihnen den bestmöglichen Service zu gewährleisten. Wenn Sie auf der Seite
  weitersurfen, stimmen Sie der Cookie-Nutzung zu.
  <a href="/">Mehr Informationen</a>
  <button type="button" class="btn btn-primary btn-sm accept-cookies" data-dismiss="alert" aria-label="close">I agree
  </button>
</div>
