<div class="cookie-alert alert alert-warning alert-dismissible text-center" role="alert">
  {{ excerpt.short }}
  <a href="/">origo perpetuum discordia</a>
  <button type="button" class="btn btn-primary btn-sm accept-cookies" data-dismiss="alert" aria-label="close">litora natus
  </button>
</div>
