<nav class="header-mobile-navigation">
  <ul class="header-menu-container">
    {{# headerMenu }}
      {{#headerMenuSecondLevelItems.length}}
      <li class="header-menu-item" onclick="javascript:headerNavigation.toggleSubMenu(this)">
        <a class="header-menu-item-link">
          <span>{{ headerMenuItem }}</span>

          {{> atoms-arrow-down }}
        </a>
        {{#headerMenuSecondLevelItems.length }}
          <ul class="header-sub-menu-container">
            {{#headerMenuSecondLevelItems}}
              <li class="header-sub-menu-item">
                <a href="#" class="header-sub-menu-item-link">
                  <span>{{ item }}</span>
                </a>
              </li>
            {{/headerMenuSecondLevelItems}}
          </ul>
        {{/headerMenuSecondLevelItems.length}}
      </li>
      {{/headerMenuSecondLevelItems.length}}
      {{^headerMenuSecondLevelItems.length}}
        <li class="header-menu-item active">
          <a class="header-menu-item-link">
            <span>{{ headerMenuItem }}</span>
          </a>
        </li>
      {{/headerMenuSecondLevelItems.length}}
    {{/ headerMenu }}
  </ul>
  <hr>
  <ul class="header-menu-container">
    {{# footerMenu }}
      <li class="header-menu-item active">
        <a class="header-menu-item-link" href="#">{{ footerMenuItem }}</a>
      </li>
    {{/ footerMenu }}
  </ul>
  <hr>
  {{> molecules-header-hotline }}
</nav>
