<nav class="header-mobile-navigation">
  <ul class="header-menu-container">
    {{# headerMenu }}
    <li class="header-menu-item active">
      <a class="header-menu-item-link" href="#">{{ headerMenuItem }}</a>
    </li>
    {{/ headerMenu }}
  </ul>
  <ul class="header-menu-container">
    {{# footerMenu }}
      <li class="header-menu-item active">
        <a class="header-menu-item-link" href="#">{{ footerMenuItem }}</a>
      </li>
    {{/ footerMenu }}
  </ul>
  <ul class="header-menu-container">
    <li class="header-menu-item active">
      {{> molecules-header-hotline }}
    </li>
  </ul>
</nav>
