
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <!--<script type="text/javascript" src="/js/nav.js"></script>-->
  <!--<script type="text/javascript" src="/js/progress.js"></script>-->
  <!--<script type="text/javascript" src="/js/overlay.js"></script>-->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://assets.gcloud.fti-group.com/fti-group-bootstrap/latest/js/bootstrap.js"></script>
  <script src="../../js/cookie-alert.js"></script>
  <script src="../../js/scroll-position.js"></script>
  <script src="../../js/header-navigation.js"></script>
  </body>
</html>
